.container--0- {
  position: absolute;
  left: 6186px;
  top: 8550px;
  width: 1440px;
  height: 2476px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-2-3-2 {
  position: absolute;
  left: 118px;
  top: 424.9990234375px;
  width: 188.58999633789062px;
  height: 38px;
  background-color: #2bdeee1a;
  border-width: 1px;
  border-style: solid;
  border-color: #2bdeee33;
  justify-content: start;
  align-items: start;
  border-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
.container-3-4-0 {
  position: absolute;
  left: 17px;
  top: 11px;
  width: 16px;
  height: 16px;
  justify-content: start;
  align-items: start;
}
.text-3-4-1 {
  position: absolute;
  left: 203.47999572753906px;
  top: 66px;
  width: 768.3252563476562px;
  height: 52px;
  color: #aa98b3;
  font-size: 20px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.text-2-3-3 {
  position: absolute;
  left: 119px;
  top: 495.9990234375px;
  width: 452.3699951171875px;
  height: 144px;
  font-size: 72px;
  font-family: Space Grotesk, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.text-2-3-4 {
  position: absolute;
  left: 119px;
  top: 673.9990234375px;
  width: 591.8928833007812px;
  height: 52px;
  color: #aa98b3;
  font-size: 20px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.container-2-3-5 {
  position: absolute;
  left: 118px;
  top: 758.9990234375px;
  width: 196.0800018310547px;
  height: 40px;
  background-color: #2bdeee;
  border-width: 1px;
  border-style: solid;
  border-color: #12cdde;
  justify-content: start;
  align-items: start;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.text-3-4-0 {
  position: absolute;
  left: 257.6700134277344px;
  top: 0px;
  width: 636.9641723632812px;
  height: 48px;
  color: #ece8ee;
  font-size: 48px;
  font-family: Space Grotesk, "Bold";
  font-weight: 700;
  text-align: center;
  vertical-align: center;
}
.container-3-4-1 {
  position: absolute;
  left: 32px;
  top: 48px;
  width: 32px;
  height: 32px;
  justify-content: start;
  align-items: start;
}
.container-2-3-6 {
  position: absolute;
  left: 330.08001708984375px;
  top: 758.9990234375px;
  width: 131.66000366210938px;
  height: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: #0000001a;
  justify-content: start;
  align-items: start;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container-2-3-7 {
  position: absolute;
  left: 119px;
  top: 847.9990234375px;
  width: 20px;
  height: 20px;
  justify-content: start;
  align-items: start;
}
.text-2-3-8 {
  position: absolute;
  left: 147px;
  top: 847.9990234375px;
  width: 94.92621612548828px;
  height: 20px;
  color: #ece8ee;
  font-size: 14px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.text-2-3-10 {
  position: absolute;
  left: 289.58001708984375px;
  top: 847.9990234375px;
  width: 88.63237762451172px;
  height: 20px;
  color: #ece8ee;
  font-size: 14px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-2-3-0 {
  position: absolute;
  left: 84px;
  top: 2135px;
  width: 1280px;
  height: 341px;
  justify-content: start;
  align-items: start;
}
.container-3-4-2 {
  position: absolute;
  left: -82px;
  top: 182px;
  width: 1088px;
  height: 326.3909912109375px;
  justify-content: start;
  align-items: start;
}
.text-4-5-1 {
  position: absolute;
  left: 68px;
  top: 152px;
  width: 104px;
  height: 20px;
  color: #e14444;
  font-size: 15px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.text-4-5-10 {
  position: absolute;
  left: 340px;
  top: 153px;
  width: 126px;
  height: 20px;
  color: #63c2ef;
  font-size: 25px;
  font-family: Inter, "Light";
  font-weight: 300;
  text-align: left;
  vertical-align: center;
}
.text-4-5-11 {
  position: absolute;
  left: 653px;
  top: 152px;
  width: 63px;
  height: 20px;
  color: #e2a157;
  font-size: 20px;
  font-family: Inter, "Light";
  font-weight: 300;
  text-align: left;
  vertical-align: center;
}
.text-4-5-12 {
  position: absolute;
  left: 897px;
  top: 152.0009765625px;
  width: 78px;
  height: 20px;
  color: #918577;
  font-size: 15px;
  font-family: Inter, "Light";
  font-weight: 300;
  text-align: left;
  vertical-align: center;
}
.text-3-4-4 {
  position: absolute;
  left: 1048px;
  top: 333px;
  width: 112px;
  height: 20px;
  color: #5566a6;
  font-size: 13px;
  font-family: Inter, "Light";
  font-weight: 300;
  text-align: left;
  vertical-align: center;
}
.container-3-4-5 {
  position: absolute;
  left: 130px;
  top: 162px;
  width: 16px;
  height: 16px;
  justify-content: start;
  align-items: start;
}
.container-4-5-0 {
  position: absolute;
  left: 13px;
  top: 9.5px;
  width: 144.3300018310547px;
  height: 17px;
  justify-content: start;
  align-items: start;
}
.text-5-6-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 107.41570281982422px;
  height: 17px;
  color: #aa98b3;
  font-size: 14px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.text-5-6-1 {
  position: absolute;
  left: 78.19999694824219px;
  top: 197px;
  width: 97.94092559814453px;
  height: 15px;
  color: #ece8ee;
  font-size: 12px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-5-6-3 {
  position: absolute;
  left: 25px;
  top: 95.0009765625px;
  width: 206px;
  height: 64px;
  color: #666666;
  font-size: 10px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-4-5-1 {
  position: absolute;
  left: 13px;
  top: 9.5px;
  width: 144.3300018310547px;
  height: 17px;
  justify-content: start;
  align-items: start;
}
.text-5-6-4 {
  position: absolute;
  left: 34px;
  top: 95.0009765625px;
  width: 206px;
  height: 64px;
  color: #779fe5;
  font-size: 10px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-4-5-2 {
  position: absolute;
  left: 0px;
  top: 57px;
  width: 92.58000183105469px;
  height: 17px;
  justify-content: start;
  align-items: start;
}
.container-5-6-0 {
  position: absolute;
  left: 37px;
  top: 37px;
  width: 24px;
  height: 24px;
  justify-content: start;
  align-items: start;
}
.container-4-5-3 {
  position: absolute;
  left: 0px;
  top: 85px;
  width: 112.7699966430664px;
  height: 17px;
  justify-content: start;
  align-items: start;
}
.container-4-5-4 {
  position: absolute;
  left: 1119px;
  top: -1px;
  width: 254px;
  height: 246px;
  background-color: #221429;
  border-width: 1px;
  border-style: solid;
  border-color: #2d1d35;
  box-shadow: 0px 1px 2px 0 #000000;
  justify-content: start;
  align-items: start;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.text-3-4-2 {
  position: absolute;
  left: 32px;
  top: 97px;
  width: 242.07803344726562px;
  height: 37px;
  color: #aa98b3;
  font-size: 14px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.container-3-4-3 {
  position: absolute;
  left: 42px;
  top: 162px;
  width: 16px;
  height: 16px;
  justify-content: start;
  align-items: start;
}
.container-3-4-4 {
  position: absolute;
  left: 86px;
  top: 162px;
  width: 16px;
  height: 16px;
  justify-content: start;
  align-items: start;
}
.text-3-4-6 {
  position: absolute;
  left: 344px;
  top: 48px;
  width: 62.16999816894531px;
  height: 24px;
  color: #ece8ee;
  font-size: 16px;
  font-family: Space Grotesk, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.container-3-4-7 {
  position: absolute;
  left: 344px;
  top: 88px;
  width: 280px;
  height: 104px;
  justify-content: start;
  align-items: start;
}
.text-3-4-8 {
  position: absolute;
  left: 656px;
  top: 48px;
  width: 73px;
  height: 24px;
  color: #ece8ee;
  font-size: 16px;
  font-family: Space Grotesk, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.container-3-4-9 {
  position: absolute;
  left: 656px;
  top: 88px;
  width: 280px;
  height: 104px;
  justify-content: start;
  align-items: start;
}
.text-3-4-10 {
  position: absolute;
  left: 968px;
  top: 48px;
  width: 106.58000183105469px;
  height: 24px;
  color: #ece8ee;
  font-size: 16px;
  font-family: Space Grotesk, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.text-3-4-11 {
  position: absolute;
  left: 968px;
  top: 88px;
  width: 250.5568084716797px;
  height: 20px;
  color: #aa98b3;
  font-size: 14px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.container-3-4-12 {
  position: absolute;
  left: 967px;
  top: 123px;
  width: 170.3300018310547px;
  height: 36px;
  background-color: #170c1d;
  border-width: 1px;
  border-style: solid;
  border-color: #5973a6;
  justify-content: start;
  align-items: start;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container-3-4-13 {
  position: absolute;
  left: 1145.3299560546875px;
  top: 123px;
  width: 101.66999816894531px;
  height: 38px;
  background-color: #2bdeee;
  border-width: 1px;
  border-style: solid;
  border-color: #12cdde;
  justify-content: start;
  align-items: start;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.text-4-5-0 {
  position: absolute;
  left: 284.0199890136719px;
  top: 33px;
  width: 648.2963256835938px;
  height: 20px;
  color: #aa98b3;
  font-size: 14px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-3-4-14 {
  position: absolute;
  left: 32px;
  top: 239px;
  width: 1216px;
  height: 53px;
  border-width: 1px;
  border-style: solid;
  border-color: #32203c;
  justify-content: start;
  align-items: start;
}
.container-0-1-1 {
  position: absolute;
  left: 736px;
  top: 341px;
  width: 576px;
  height: 576px;
  justify-content: start;
  align-items: start;
}
.container-1-2-2 {
  position: absolute;
  left: 1080px;
  top: 18px;
  width: 93.57943725585938px;
  height: 25.5px;
  justify-content: start;
  align-items: start;
}
.text-2-3-0 {
  position: absolute;
  left: 20px;
  top: 15px;
  width: 77.7794418334961px;
  height: 17px;
  color: #f9fafa;
  font-size: 14px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-1-2-3 {
  position: absolute;
  left: 1219.958984375px;
  top: 21.025390625px;
  width: 16.76675033569336px;
  height: 20.399999618530273px;
  justify-content: start;
  align-items: start;
}
.container-1-2-4 {
  position: absolute;
  left: 1308.87890625px;
  top: 5px;
  width: 115.4495620727539px;
  height: 48.45000076293945px;
  background-color: #2bdeee;
  border-width: 1px;
  border-style: solid;
  border-color: #12cdde;
  justify-content: start;
  align-items: start;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container-1-2-5 {
  position: absolute;
  left: 13px;
  top: 11px;
  width: 42px;
  height: 43px;
  justify-content: start;
  align-items: start;
}
